body {
    overflow-x: hidden;
    height: 110%;
}

.topnav{
    position: fixed;
    top: 0;
    left: -5%;
    width: 105%;
    height: 4.09vw;
    z-index: 300;
    background-color: lightskyblue;
    overflow: hidden;
}

.topnav img{
    position: absolute;
    width: 15%;
    left: 10vw;
    top: 0.2vw;
}
.topnav table{
    position: relative;
    left: 70vw;
}

.topnav td{
    position: relative;
    right: 1vw;
}

.topnav td a{
    position:relative;
    top: 0.95vw;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Franklin Gothic Book', sans-serif;
    padding: 1.2vw 1.1vw;
    text-decoration: none;
    font-size: 1.5VW;
    height: 4vw;
}

.topnav td a:hover {
    background-color: white;
    color: lightskyblue;
    cursor: pointer;
}

.rightnav {
    position: fixed;
    right: 0.5vw;
    top: 6vw;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    z-index: 300;
    width: 3vw;
    height: 9vw;
}

.rightnav table{
    margin: auto;
}

.rightnav table td{
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    top: 0.2vw;
}

#instagram{
    width: 100%;
    background-image: url('../images/instagram_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#instagram:hover{
    cursor: pointer;
    background-image: url('../images/instagram_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#facebook{
    width: 100%;
    background-image: url('../images/facebook_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#facebook:hover{
    cursor: pointer;
    background-image: url('../images/facebook_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#google{
    background-image: url('../images/google_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#google:hover{
    cursor: pointer;
    background-image: url('../images/google_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#center_div {
    position:absolute;
    left:50%;
    top:50%;
    width:  40vw;
    min-height: 38vw;
    font-family: Raleway, sans-serif;
    margin-left:-20vw; /* -1/2 width */
    margin-top: -17vw; /* -1/2 height */
    border: 2px solid deepskyblue;
    background-color: whitesmoke;
}

#image{
    width: 7vw;
    height: 7vw;
    position: relative;
    left: 42%;
    top: 2vw;
}

#image img{
    width: 100%;
    border-radius: 50%;
    border-color: black;
}


p{
    font-size: 1.2vw;
}


#username{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 25%;
}

#petsitter{
    font-size: 1vw;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}

#name {
    position: absolute;
    left: 15%;
    top: 40%;
}

#cognome {
    position: absolute;
    left: 60%;
    top: 40%;
}

#email {
    position: absolute;
    left: 15%;
    top: 50%;
}

#citta{
    position: absolute;
    left: 15%;
    top: 60%;
}

#cap{
    position: absolute;
    left: 60%;
    top: 60%;
}

#description{
    position: absolute;
    left: 15%;
    top: 70%;
    width: 28vw;
    height: 6vw;
    text-align: justify;
    font-style: italic;
}
#calendar_h1{
    position: absolute;
    top: 38.5vw;
}

.calendar-wrapper {
    position: absolute;
    top: 43.5vw;
    left: 5vw;
    width: 80%;
    margin: auto;
    border: 1px solid #eee;
    padding: 0.1vw;
}

#confirm_date{
    position: absolute;
    left: 18vw;
    top: 74vw;
}

#selected_dates{
    position: absolute;
    top:75vw;
    width: 80%;
}

#booking_info{
    position: relative;
    top: 0.2vw;
    font-family: Raleway, sans-serif;
    font-size: 1.2vw;
}



.p_node{
    color: blueviolet;
    font-family: Raleway, sans-serif;
    font-size: 1.2vw;
}