body {
    overflow-x: hidden;
    height: 110%;
}

.topnav{
    position: fixed;
    top: 0;
    left: -5%;
    width: 105%;
    height: 4.09vw;
    z-index: 300;
    background-color: lightskyblue;
    overflow: hidden;
}

.topnav img{
    position: absolute;
    width: 15%;
    left: 10vw;
    top: 0.2vw;
}
.topnav table{
    position: relative;
    left: 70vw;
}

.topnav td{
    position: relative;
    right: 1vw;
}

.topnav td a{
    position:relative;
    top: 0.95vw;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Franklin Gothic Book', sans-serif;
    padding: 1.2vw 1.1vw;
    text-decoration: none;
    font-size: 1.5VW;
    height: 4vw;
}

.topnav td a:hover {
    background-color: white;
    color: lightskyblue;
    cursor: pointer;
}

.rightnav {
    position: fixed;
    right: 0.5vw;
    top: 6vw;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    z-index: 300;
    width: 3vw;
    height: 9vw;
}

.rightnav table{
    margin: auto;
}

.rightnav table td{
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    top: 0.2vw;
}

#instagram{
    width: 100%;
    background-image: url('../images/instagram_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#instagram:hover{
    cursor: pointer;
    background-image: url('../images/instagram_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#facebook{
    width: 100%;
    background-image: url('../images/facebook_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#facebook:hover{
    cursor: pointer;
    background-image: url('../images/facebook_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#google{
    background-image: url('../images/google_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#google:hover{
    cursor: pointer;
    background-image: url('../images/google_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#profile_div {
    position:absolute;
    left: 5%;
    width:  40%;
    min-height: 38vw;
    font-family: Raleway, sans-serif;
    margin-top: 7.5%; /* -1/2 height */
    border: 2px solid deepskyblue;
    background-color: whitesmoke;
    border-radius: 0.5vw;
    display: inline-block;
}

#review_div {
    position:relative;
    margin-left: 55%;
    margin-top:7.5%;
    width:40%;
    right: 5%;
    height: 38vw;
    font-family: Raleway, sans-serif;
    border: 2px solid deepskyblue;
    border-radius: 0.5vw;
    background-color: whitesmoke;
    display: inline-block;
    word-break: normal;

}

#review_list{
    overflow-y: scroll;
    position:relative;
    width:100%;
    height: 27vw;
    font-family: Raleway, sans-serif;
    background-color: whitesmoke;
    display: inline-block;
    word-break: normal;
}

.container {
    width:30vw;
    border-radius: 8px;
    margin-left: 2%;
    height: 7vw;
    margin-top: 5%;
}

.comment {
    display: block;
    transition: all 1s;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}

.container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 5vw;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #6fc8e7;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: deepskyblue;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 15px;
    font-family: Raleway, sans-serif;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: mediumspringgreen;
}

.review_text {
    border: 2px solid deepskyblue;
    width:30vw;
    word-break: normal;
    margin-left: 2%;
    box-shadow: inset 10px 10px 5px #dedede;


}

.rating_box {
    position: absolute;
    margin-top: -10%;
    border: 2px solid #ff6a00;
    background: #ff6a00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 85%;
    box-shadow: inset 10px 10px 5px #dedede;
    display: inline-block;


}

#image{
    width: 7vw;
    height: 7vw;
    position: relative;
    left: 42%;
    top: 2vw;
}

#image img{
    width: 100%;
    border-radius: 50%;
    border-color: black;
}


p{
    font-size: 1.2vw;
}


#username{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 25%;
}

#petsitter{
    font-size: 1vw;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}

#name {
    position: absolute;
    left: 15%;
    top: 40%;
}

#cognome {
    position: absolute;
    left: 60%;
    top: 40%;
}

#email {
    position: absolute;
    left: 15%;
    top: 50%;
}

#citta{
    position: absolute;
    left: 15%;
    top: 60%;
}

#cap{
    position: absolute;
    left: 60%;
    top: 60%;
}

#description{
    position: absolute;
    left: 15%;
    top: 70%;
    width: 28vw;
    height: 6vw;
    text-align: justify;
    font-style: italic;
}
#calendar_h1{
    position: absolute;
    top: 47vw;
    left: 32%;
    font-family: Raleway, sans-serif;
}

.calendar-wrapper {
    position: absolute;
    top: 52vw;
    left: 35%;
    width: 30%;
    margin: auto;
    border: 1px solid #eee;
    padding: 0.1vw;
}

#confirm_date{
    position: absolute;
    width: 10%;
    left: 45%;
    top: 82vw;
    padding: 10px 18px;
    background-color: lightgrey;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    color: black;
    font-family: 'Franklin Gothic Book', sans-serif;
    text-decoration: none;
}

#confirm_date:hover{
    opacity: 0.8;
}

#selected_dates{
    position: absolute;
    left: 35%;
    top:83vw;
    width: 30%;
}

#booking_info{
    position: relative;
    top: 1.5vw;
    font-family: Raleway, sans-serif;
    font-size: 1.2vw;
}

#p_from{
    color: limegreen;
    position: relative;
    top:1.2vw;
    font-family: Raleway, sans-serif;
    font-size: 1.2vw;
}

#p_to{
    color: dodgerblue;
    font-family: Raleway, sans-serif;
    font-size: 1.2vw;
}

#confirm_book{
    position: absolute;
    right: 35%;
    top: 88vw;
    padding: 10px 18px;
    background-color: #ff6a00;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', sans-serif;
    text-decoration: none;
}

#confirm_book:hover{
    opacity: 0.8;
}

#box_pets select{

    background-color: deepskyblue;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 120px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;

}

#box_rating select{
    background-color: #ff6a00;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 120px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;

}

#box_rating {
    position: absolute;
    margin-left: 80%;
    margin-top: -15%;
    border-radius: 8px;
}

#box_pets {
    position: absolute;
    border-radius: 8px;

}

#pets option:hover{
    opacity: 0.8;
    background-color: #ff6a00;
}

#rating option:hover{
    opacity: 0.8;
    background-color: deepskyblue;
}




#box_rating select option {
    padding: 30px;
    background-color: #ff6a00;
}

#selected_pet{
    position: absolute;
    margin-top: 10%;
    margin-left: 70%;
    width: 300px;
    height: 150px;
}


