# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Exercise_DSMT\HereThePaw_DSMT_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
